@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

body {
    background-color: #fffff3;
}

.nav-dark {
    background-color: #030301;
    font-family: "DM Serif Display", serif;
}

/* Floating action buttons:*/
.search {
    background-color: #ff4365;
}

.add {
    background-color: #17DCC6;
}

.scroll-up {
    background-color: #A6A6A0;
}