@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

/*---------------------- General: */
body {
    background-color: #fffff3;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

h1, h2, h3 {
    font-family: "DM Serif Display", sans-serif;
}

h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

p {
    color: #030301;
    font-family: "Raleway", sans-serif;
}

.text-shadow {
    text-shadow: 2px 2px rgb(0, 0, 0, 0.5);
}

/*---------------------- Accent colours: */
.pink {
    color: #ff4365;
}

.blue {
    color: #17DCC6;
}

.grey {
    color: #A6A6A0;
}

.white {
    color: #fffff3;
}

.delete {
    background-color: #CC0018;
}

.delete:hover {
    background-color: #E2001A;
}

.edit {
    background-color: #D95707;
}

.edit:hover {
    background-color: #F86A12;
}

.add {
    background-color: #17DCC6;
}
/*---------------------- Navbar: */
.nav-dark {
    background-color: #030301;
    font-family: "DM Serif Display", serif;
}

nav .brand-logo .left {
    font-family: "DM Serif Display", serif;
    font-size: 8vw;
}

nav ul li a:hover {
    background-color: #fffff3;
    color: #030301;
}

/*---------------------- Nav Dropdown Menu: */
.dropdown-content li a {
    background-color: #030301;
    color: #fffff3;
}

.dropdown-content li:hover {
    color: #030301;
}

/*---------------------- Sidenav: */
.sidenav .collapsible-header {
    padding: 0 32px;
}

.sidenav .fa-caret-down:before {
    font-size: small;
}

/*---------------------- Sidenav collapsible-accordion: */
.sidenav .collapsible-body li a {
    background-color: #030301;
    color: #fffff3;
}


/*---------------------- Footer: */
.page-footer {
    background-color: #030301;
}

footer h5 {
    font-family: "DM Serif Display", sans-serif;
}

.footer-row {
    display: inline;
}

footer ul li {
    display: inline;
    margin: 0 2px 0 2px;
}

.footer-links li a i {
    color: #fffff3;
}

.footer-links li a i:hover {
    color: #ff4365;
}

footer p {
    font-family: "Raleway", sans-serif;
    color: #fffff3;
}

/*---------------------- Floating action buttons:*/
#FAB {
    background-color: #030301;
}
.search {
    background-color: #ff4365;
}

.search:hover {
    background-color: #d32646;
}

.reset {
    background-color: #00e5ff;
}

.reset:hover {
    background-color: #00b8d4;
}

.add {
    background-color: #17DCC6;
}

.scroll-up {
    background-color: #A6A6A0;
}

/*---------------------- Flash Messages:*/
.flashes h4 {
    line-height: 2;
}

/*---------------------- Card panels: */
.card {
    background-color: #fffff3;
}

.profile-card {
    background-color: #030301;
    color: #fffff3;
    height: auto;
    margin: 1rem 0 1rem 0;
}

.grey {
    background-color: #A6A6A0;
}

/*---------------------- Definitions card*/
.card-content {
    font-family: "Raleway", sans-serif;
}

.card .card-content {
    padding: 24px 24px 2px;
}

.card .card-content p {
    color: #fffff3;
    margin: 10px 0 5px 0;
}

.card .card-title {
    font-family: "DM Serif Display", sans-serif;
    font-size: 22px;
}

/*---------------------- Definitions card icons:*/
.created_by i {
    color: #ff4365;
    margin-right: 5px;
}

.card-title i {
    color: #17DCC6;
}

.card-title i:hover {
    color: #fffff3;
}

/*---------------------- Categories:*/
.card-title a {
    color: #030301;
    text-decoration: underline;
    text-decoration-thickness: from-font;

}

.card-title a:hover {
    color: #fffff3;
}

.category-cards .card-content a{
    text-decoration: underline;
    color: #030301;
}

.category-cards .card-content a:hover {
    color: #fffff3;
}

.category-cards .card-content a .card-title:hover {
    color: #fffff3 !important;
}
/*----------------------Modals:*/
.modal-header {
    background-color: #030301;
    color: #fffff3;
    font-family: "DM Serif Display", sans-serif;
    padding: 15px 15px 2px;
}

.modal-content {
    background-color: #fffff3;
    color: #030301;
    font-family: "Raleway", sans-serif;
}

.share-def-socials li {
    display: inline;
}

.share-def-socials li a i {
    color: #17DCC6;
    margin: 0 20px 0 20px;
}

.share-def-socials li a i:hover {
    color: #ff4365;
    font-size: xx-large;
}

.modal .modal-footer {
    background-color: #fffff3;
}

.modal-close{
    background-color: #030301;
    color: #fffff3;
}
/*---------------------- Buttons: */
.btn-large {
    font-family: "Raleway", serif;
    color: #fffff3;
    text-transform: none;
    font-size: larger;
    margin: 5px;
}

.add-btn {
    background-color: #17DCC6;
    font-family: "Raleway", sans-serif;
}

.btn {
    margin: 5px 2px 2px 0;
}

.home-btn {
    font-family: "Raleway", sans-serif;
    margin: 5px;
    background-color: #030301;
    color: #fffff3;
}

.home-btn:hover {
    background-color: #fffff3;
    color: #030301;
}

/*---------------------- Add Definition Form: */
.input-field .prefix {
    left: 1rem;
}

a .image_url {
    color: #17DCC6;
    font-family: "Raleway", sans-serif;
}

a .image_url:hover {
    color: #fffff3;
}

a .image_url:visited {
    color: #1f998b;
}

/*---------------------- Search bar*/
.search-panel {
    display: none;
    margin: 25px;
}

/*----------------------Profile pg: */
.collapsible {
    background-color: #030301;
    margin: 0;
}
.user-definitions {
    font-family: "Raleway", sans-serif;
    color: #fffff3;
}

.title {
    font-family: "DM Serif Display", sans-serif;
    font-size: 20px;
}

.collapsible-header {
    background-color: #030301;
    color: #fffff3;
}
.collapsible-header .col strong {
    margin: 5px;
}

.collapsible-body p {
    color: #fffff3;
}

/*----------------------Error Pages: */
.error {
    margin: 25px;
}

/*----------------------Flask Pagination: */
.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}

.pagination-page-info b {
color: black;
background: #6aa6ed;
padding-left: 2px;
padding: .1em .25em;
font-size: 150%;
}

.pagination li.active a {
    background-color: #030301;
}

/*----------------------Media Queries: */

@media only screen and (max-width: 600px) {
    .search-panel {
        display: block;
    }

    .search-panel label {
        font-size: .8rem;
    }

    .btn {
        float: none !important;
    }
}