{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Add a Definition</h3>
    <div class="divider"></div>

    <div class="row card-panel z-depth-5 white">
        <form class="col s12" method="POST" action="{{ url_for('add_definition') }}">
            <!--Exercise name-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix pink-text"></i>
                    <input id="exercise_name" name="exercise_name" minlength="5" maxlength="60"
                        type="text" class="validate" required>
                    <label for="exercise_name">Exercise Name</label>
                </div>
                <!--Exercise Description-->
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix pink-text"></i>
                    <input id="exercise_description" name="exercise_description" minlength="5"
                        maxlength="250" type="text" class="validate" required>
                    <label for="exercise_description">Exercise Description</label>
                </div>
                <!--Tempo-->
                <div class="input-field col s12">
                    <i class="fas fa-stopwatch prefix pink-text"></i>
                    <input id="tempo" name="tempo" minlength="2"
                        maxlength="5" type="text" class="validate" required>
                    <label for="tempo">Tempo</label>
                </div>
                <!--Upload Image-->
                <div class="input-field">
                <form action="POST">
                    <div class="col s12 file-field input-field">
                        <div class="btn-flat left">
                            <input id="image_url" name="image_url" type="file"><br>
                            <span><i class="fas fa-file-upload prefix pink-text"></i></span>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" id="image_url" name="image_url" type="text" placeholder="Upload image">
                        </div>
                    </div>
                </form>
                </div>
                <!--Created By-->
                <div class="input-field col s12">
                    <i class="fas fa-user prefix pink-text"></i>
                    <input id="created_by" name="created_by" minlength="2"
                        maxlength="5" type="text" class="validate" required>
                    <label for="created_by">Created By</label>
                </div>
                <!--Submit definition button:'Add Definition'-->
                <div class="row">
                    <div class="col s12 center-align">
                        <button class="btn add-btn center-align" type="submit" name="action">Add Definition</button>
                    </div>
                </div>
                
            </div>
        </form>
    </div>
            

{% endblock %}