<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.ico') }}">
    {% block styles %}
    {% endblock %}
    <title>Gym Rat Dictionaries</title>
</head>
<body>
    <header>
        <!--Main Navbar-->
        <nav class="nav-extended nav-dark">
            <div class="nav-wrapper">
                <a href="{{ url_for('get_definitions') }}" class="brand-logo left">Gym Rat Dictionaries</a>
                <!--Sidenav trigger-->
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
                <!--Dropdown1 menu-->
                <ul id="dropdown1" class="dropdown-content">
                    {% for category in categories %}
                        <li><a href="{{ url_for('category_pg', category_id=category._id) }}">{{ category.category_name}}</a></li>
                    {% endfor %}
                </ul>
                <ul class="right hide-on-med-and-down">
                    <li><a class="btn-floating btn-small search" id="search"><i class="fas fa-search"></i></a></li>
                    <li><a href="{{ url_for('get_definitions') }}">Home</a></li>
                    {% if session.user|lower != "admin"|lower %}
                        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Categories <i class="fas fa-caret-down fa-sm"></i></a></li>
                    {% endif %}
                    {% if session.user %}
                        <li><a href="{{ url_for('profile', user=session['user']) }}">Profile</a></li>
                        <li><a href="{{ url_for('add_definition') }}">Add Definition</a></li>
                        {% if session.user|lower == "admin"|lower %}
                            <li><a href="{{ url_for('get_categories') }}">Category Management</a></li>
                        {% endif %}
                        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}">Log In</a></li>
                        <li><a href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <!--Mobile Sidenav-->
        <ul class="sidenav nav-dark" id="mobile-demo">
            <li><a href="{{ url_for('get_definitions') }}" class="brand-logo center-align"><span class="white-text">GRD</span></a>
            </li>
            <li><a href="{{ url_for('get_definitions') }}"><span class="white-text">Home</span></a></li>
            {% if session.user|lower != "admin"|lower %}
                <!--Categories dropdown menu-->
                <li class="no-padding"></li>
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header"><span class="white-text">Categories<i
                                    class="fas fa-caret-down fa-xs"></i></span></a>
                        <div class="collapsible-body">
                            <ul>
                                {% for category in categories %}
                                <li><a href="{{ url_for('category_pg', category_id=category._id) }}">{{ category.category_name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                </ul>
                </li>
            {% endif %}
            {% if session.user %}
                <li><a href="{{ url_for('profile', user=session['user']) }}"><span class="white-text">Profile</span></a>
                </li>
                <li><a href="{{ url_for('add_definition') }}"><span class="white-text">Add Definition</span></a></li>
                {% if session.user|lower == "admin"|lower %}
                    <li><a href="{{ url_for('get_categories') }}"><span class="white-text">Category Management</span></a></li>
                {% endif %}
                <li><a href="{{ url_for('logout') }}"><span class="white-text">Log Out</span></a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}"><span class="white-text">Log In</span></a></li>
                <li><a href="{{ url_for('register') }}"><span class="white-text">Register</span></a></li>
            {% endif %}
        </ul>
    </header>
    <section>
        <!--Flash Messages-->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h4 class="col s12 m8 offset-m2 center-align">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>
    <!--Search functionality-->
    <div class="container">
        <div class="row card-panel search-panel black">
            <form action="{{ url_for('search') }}" method="GET" class="col s12">
                <div class="row valign-wrapper center-align">
                    <div class="input-field col s12">
                        <i class="fas fa-search prefix pink-text"></i>
                        <input type="text" name="query" id="query" minlength="3" class="validate white-text" required>
                        <label for="query">Search for definitions</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 center-align">
                        <button type="submit" class="btn search white-text"><i class="fas fa-search left"></i>Search</button>
                        <a href="{{ url_for('get_definitions') }}" class="btn reset white-text">Reset</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--Floating Action Button (Search, add definition, scroll to top)-->
    <div class="fixed-action-btn click-to-toggle">
        <a class="btn-floating btn-large" id="FAB">
            <i class="fas fa-bars"></i>
        </a>
        <ul>
            <li><a class="btn-floating search" id="search-btn"><i class="fas fa-search"></i></a></li>
            <li><a href="{{ url_for('add_definition') }}" class="btn-floating add"><i class="fas fa-plus"></i></a></li>
            <li><a class="btn-floating scroll-up"><i class="fas fa-arrow-circle-up"></i></a></li>
        </ul>
    </div>
    
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    
    <!--Footer-->
    <footer class="page-footer">
        <div class="container">
            <div class="row footer-row center-align">
                <div class="col l3 s12">
                    <h5 class="white-text">Gym Rat Dictionaries</h5>
                    <p><em>Debunking exercise terminology</em></p>
                </div>
                <div class="col l6 s12">
                    <h5 class="white-text">Follow Us</h5>
                    <ul class="footer-links center-align">
                        <li><a href="https://www.facebook.com/" target="_blank" title="Facebook Link" rel="noopener"><i class="fab fa-facebook-f fa-lg"></i></a></li>
                        <li><a href="https://www.tiktok.com/" target="_blank" title="TikTok Link" rel="noopener"><i class="fab fa-tiktok fa-lg"></i></a></li>
                        <li><a href="https://www.instagram.com/" target="_blank" title="Instagram Link" rel="noopener"><i class="fab fa-instagram fa-lg"></i></a></li>
                        <li><a href="https://www.youtube.com/" target="_blank" title="YouTube Link" rel="noopener"><i class="fab fa-youtube fa-lg"></i></a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5>Copyright</h5>
                    <p><em>Katie Sheedy © 2021. For educational purposes only.</em></p>
                </div>
            </div>
        </div>
    </footer>



    <script src="https://code.jquery.com/jquery-3.6.0.min.js" 
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>