{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Category Management</h3>
    <div class="divider"></div>
    
    <div class="row">
        {% for category in categories %}
            <div class="col s12 m4">
                <div class="card center-align category-cards grey z-depth-5">
                    <div class="card-content black-text">
                        <span class="card-title">{{ category.category_name }}</span>
                    </div>
                    <div class="card-action">
                        <a href="#" class="edit btn-small">Edit</a>
                        <a href="#" class="delete btn-small">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col s12 center-align">
            <a href="{{ url_for('add_category') }}" class="btn-large z-depth-5">
                Add Category <i class="fas fa-plus-square right"></i>
            </a>
        </div>
    </div> 

{% endblock %}