{% extends "base.html" %}
{% block content %}
    
    <h3 class="center-align">Recently added</h3>
    <div class="divider"></div>

    <!--Definitions card panel-->
    <div class="row">
        {% for definition in definitions %}
            <div class="col s12 m6">
                <div class="card grey z-depth-5">
                    <div class="card-content black-text">
                        <strong class="card-title">{{ definition.exercise_name }} <a class="modal-trigger right" data-target="#modal1{{ definition._id }}"><i class="fas fa-share-alt fa-lg"></i></a></strong>
                        <div class="divider black"></div>
                        <p class="defintion">{{ definition.exercise_description}}</p>
                        <p class="tempo">Tempo: {{ definition.tempo }}</p>
                        <p class="image_url">{{ definition.image_url }}</p>
                        <p class="created_by"><i class="fas fa-user"></i><em> {{ definition.created_by }}</em></p>
                    </div>
                    <div class="card-action">
                        <a class="add btn-small"><i class="fas fa-thumbs-up"> {{ definition.upvotes }}</i></a>
                        <a class="add btn-small"><i class="fas fa-thumbs-down"></i> {{ definition.downvotes }}</a>
                        {% if session.user|lower == definition.created_by|lower %}
                            <a class="btn delete right"><i class="far fa-trash-alt"></i> Delete</a>
                            <a href="{{ url_for('edit_definition', definition_id=definition._id) }}" class="btn edit right"><i class="far fa-edit"></i> Edit</a>
                        {% endif %}
                        {% if session.user|lower == "admin"|lower %}
                            <a class="btn delete right"><i class="far fa-trash-alt"></i> Delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!--Share definition modal-->
            <div id="#modal1{{ definition._id }}" class="modal">
                <div class="modal-header">
                    <h4>Share this definition?</h4>
                </div>
                <div class="modal-content">
                    <ul class="share-def-socials center-align">
                        <li><a class="text-shadow" href="https://www.facebook.com/" target="_blank" title="Share definition on Facebook" rel="noopener"><i
                                    class="fab fa-facebook-f fa-3x"></i></a></li>
                        <li><a class="text-shadow" href="https://www.tiktok.com/" target="_blank" title="Share definition on TikTok" rel="noopener"><i
                                    class="fab fa-tiktok fa-3x"></i></a></li>
                        <li><a class="text-shadow" href="https://www.instagram.com/" target="_blank" title="Share definition on Instagram" rel="noopener"><i
                                    class="fab fa-instagram fa-3x"></i></a></li>
                        <li><a class="text-shadow" href="https://www.youtube.com/" target="_blank" title="Share definition on YouTube" rel="noopener"><i
                                    class="fab fa-youtube fa-3x"></i></a></li>
                    </ul>
                </div>
                <div class="divider black"></div>
                <div class="modal-footer">
                    <a class="modal-close btn">Cancel</a>
                </div>
            </div>
        {% endfor %}
    </div>       

{% endblock %}
