{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Edit Definition</h3>
    
    <div class="row card-panel z-depth-5 white">
        <form class="col s12" method="POST" action="{{ url_for('edit_definition', definition_id=definition._id) }}">
            <!--Category selection-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-folder-open prefix pink-text"></i>
                    <select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled>Add Your Definition to a Category</option>
                        {% for category in categories %}
                            {% if category.category_name == definition.category_name %}
                            <option value="{{ category.category_name}}" selected>{{ category.category_name }}</option>
                            {% else %}
                            <option value="{{ category.category_name}}">{{ category.category_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label for="category_name">Choose Category</label>
                </div>
            </div>
            <!--Regex pattern used through this form is taken from https://stackoverflow.com/questions/5599934/regular-expression-that-allows-spaces-in-a-string-but-not-only-blank-spaces/5599987-->
            <!--Exercise name-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix pink-text"></i>
                    <input id="exercise_name" name="exercise_name" pattern="^(?!\s*$)[-a-zA-Z0-9_:,'.\s]{5,60}$" minlength="5" maxlength="60"
                        value="{{ definition.exercise_name}}" type="text" class="validate" required>
                    <label for="exercise_name">Exercise Name</label>
                </div> 
            </div>
            <!--Exercise Description-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix pink-text"></i>
                    <input id="exercise_description" name="exercise_description" pattern="^(?!\s*$)[-a-zA-Z0-9_:,'.\s]{5,500}$" minlength="5" maxlength="500"
                        value="{{ definition.exercise_description }}" type="text" class="validate" required>
                    <label for="exercise_description">Exercise Description</label>
                </div>
            </div>
            <!--Tempo-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-stopwatch prefix pink-text"></i>
                    <input id="tempo" name="tempo" value="{{ definition.tempo }}" type="number" class="validate" required>
                    <label for="tempo">Tempo</label>
                </div>
            </div>
            <!--Upload Image-->
            <div class="row">
                <div class="input-field">
                    <div class="input-field col s12">
                        <i class="fas fa-file-upload prefix pink-text"></i>
                        <input id="image_url" name="image_url" pattern="https?://.+" type="url" placeholder="Insert image URL if you like" 
                            value="{{ definition.imge_url }}" class="validate">
                        <label for="image_url">Image URL</label>
                    </div>
                </div>
            </div>
            <!--Hidden input fields to hold the upvote and downvote count. Inputs are hidden as they are not to be edited by user-->
            <div class="row">
                <div class="input-field vote col s2">
                  <input hidden type="number" 
                    value="{{ definition.upvote }}" id="upvote" name="upvote" class="validate">
                  <label for="upvote">Upvote</label>
                </div>
              </div><div class="row">
                <div class="input-field vote col s2">
                  <input hidden type="number" 
                    value="{{ definition.downvote }}" id="downvote" name="downvote" class="validate">
                  <label for="downvote">Downvote</label>
                </div>
              </div>
            <!--Edit definition button-->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="edit btn-small center-align">Edit Definition</button>
                    <a href="{{ url_for('get_definitions') }}" class="btn-small black">Cancel</a>

                </div>
            </div>
        </form>
    </div>
            

{% endblock %}