{% extends "base.html" %}
{% block content %}

    <!--Profile name panel-->
    <div class="row">
        <div class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
            <h3 class="center-align">{{ user.username }}'s Profile</h3>
            <div class="divider black"></div>
        </div>
    </div>
    <!--Render this if user created definitions is greater than zero OR equal to zero AND user favourites
        is greater than zero OR definitions is greater than zero AND user favourites is equal to zero-->
    {% if definitions|length > 0 or definitions|length == 0 and user_favourites|length > 0 or definitions|length > 0 and user_favourites|length == 0 %}
        <!--User created definitions collapsible-->
        <div class="row">
            <div class="col s12 m12">
                <h3 class="left">My definitions:</h3>
            </div>
        </div>       
        {% for definition in definitions %}
            <ul class="collapsible user-definitions">
                <li>
                    <div class="collapsible-header">
                        <div class="col s3">
                            <i class="fas fa-caret-down"></i>
                        </div>
                        <div class="col s9">
                            <strong class="title">{{ definition.exercise_name }}</strong>
                            <a href="{{ url_for('edit_definition', definition_id=definition._id) }}" 
                                        class="edit btn-small">Edit</a>
                            <a href="#modal4" data-target="#modal4{{ definition._id }}" 
                                        class="modal-trigger delete btn-small">Delete</a>
                        </div>
                    </div>
                    <div class="collapsible-body white-text">
                        <strong>Category: {{ definition.category_name }}</strong>
                        <p>{{ definition.exercise_description }}</p>
                        <p>Tempo: {{ definition.tempo }}</p>
                        <p class="image_url">{{ definition.image_url }}</p>
                        <p class="created_by"><i class="fas fa-user"></i><em> {{ definition.created_by }}</em></p>
                    </div>
                </li>
            </ul>
            <!-- User confirmation modal for definition deletion -->
            <div id="#modal4{{ definition._id }}" class="modal">
                <div class="modal-header">
                    <h4>Delete this definition?</h4>
                </div>
                <div class="modal-content">
                    <p><em>Are you sure you want to delete this definition?</em></p>
                </div>
                <div class="divider black"></div>
                <div class="modal-footer">
                    <a href="{{ url_for('delete_definition', definition_id=definition._id) }}" class="btn delete">Delete</a>
                    <a class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                </div>
            </div>
        {% endfor %}
        <!--Render this if there is no user created definitions and more than zero user favourites-->
        {% if definitions|length == 0 and user_favourites|length > 0 %}
            <div class="row">
                <div class="col s12">
                    <h6>No definitions added yet, wanna change that?</h6>
                    <a href="{{ url_for('add_definition') }}" class="z-depth-5 add-btn btn">
                        Add Definition <i class="far fa-plus-square"></i>
                    </a>
                </div>
            </div>
        {% endif %}
        <!--User favourited definitions collapsible-->
        <div class="row">
            <div class="col s12 m12">
                <h3 class="left">My favourites:</h3>
            </div>
        </div>       
        {% for definition in user_favourites %}
            <ul class="collapsible favourites">
                <li>
                    <div class="collapsible-header">
                        <div class="col s3">
                            <i class="fas fa-caret-down"></i>
                        </div>
                        <div class="col s9">
                            <strong class="title">{{ definition.exercise_name }}</strong>
                            {% if session.user|lower == definition.created_by|lower or session.user|lower == "admin"|lower and session.user|lower == definition.created_by|lower %}
                                <a href="{{ url_for('edit_definition', definition_id=definition._id) }}" 
                                            class="edit btn-small">Edit</a>
                                <a href="#modal4" data-target="#modal4{{ definition._id }}" 
                                            class="modal-trigger delete btn-small">Delete</a>
                            {% elif session.user|lower == "admin"|lower %}
                                <a href="#modal4" data-target="#modal4{{ definition._id }}" 
                                class="modal-trigger delete btn-small">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="collapsible-body white-text">
                        <strong>Category: {{ definition.category_name }}</strong>
                        <p>{{ definition.exercise_description }}</p>
                        <p>Tempo: {{ definition.tempo }}</p>
                        <p class="image_url">{{ definition.image_url }}</p>
                        <p class="created_by"><i class="fas fa-user"></i><em> {{ definition.created_by }}</em></p>
                    </div>
                </li>
            </ul>
            <!-- User confirmation modal for definition deletion -->
            <div id="#modal4{{ definition._id }}" class="modal">
                <div class="modal-header">
                    <h4>Delete this definition?</h4>
                </div>
                <div class="modal-content">
                    <p><em>Are you sure you want to delete this definition?</em></p>
                </div>
                <div class="divider black"></div>
                <div class="modal-footer">
                    <a href="{{ url_for('delete_definition', definition_id=definition._id) }}" class="btn delete">Delete</a>
                    <a class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                </div>
            </div>
        {% endfor %}
        <!--Render this if there is more than zero user created definitions and zero user favourites-->
        {% if definitions|length > 0 and user_favourites|length == 0 %}
            <div class="row">
                <div class="col s12">
                    <h6>No definitions added to your favourites yet, wanna change that?</h6>
                    <h6>Head over to the<a href="{{ url_for('get_definitions') }}">
                        definitions page
                    </a> and click on the <i class="fas fa-bookmark"></i> favourites icon to add the definition to your favourites!</h6>
                </div>
            </div>
        {% endif %}
    {% else %}
    <!--Render this when user first registers with the site-->
        <div class="row">
            <div class="col s12 center-align">
                <h4>No definitions added yet! Wanna change that?</h4>
                <a href="{{ url_for('add_definition') }}" class="z-depth-5 add-btn btn-large">
                    Add Definition <i class="far fa-plus-square"></i>
                </a>
            </div>
        </div>
    {% endif %}

    
{% endblock %}