{% extends "base.html" %}
{% block content %}

    <!--Profile name panel-->
    <div class="row">
        <div class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
            <h2 class="header center-align">Log In</h2>
            <div class="card horizontal z-depth-5">
                <div class="card-stacked">
                    <div class="card-content">
                        <h3 class="center-align">{{ username }}' Profile</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}